<h2> Admin Page</h2>

<table class="table table-bordered">
  <thead class="thead-dark">
        <th> User id</th>
        <th> Email</th>
        
        
     <% @Users.each do |user| %>
     
    </thead>
    <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
 
     <% end %>
    </tr>
    
</table>
 
