<h1>Editing Currency</h1>

<%= render 'form', currency: @currency, class: 'btn btn-dark' %><br/>

<%= link_to 'Show', @currency, class: 'btn btn-dark' %> 

<%= link_to 'Back', currencies_path, class: 'btn btn-dark' %>

