<h1>Editing Currency</h1>

<%= render 'form', currency: @currency, class: 'btn btn-primary' %><br/>

<div class="container text-center">

<%= link_to 'Show Currency', @currency, class: 'btn btn-primary mr-5' %> 

<%= link_to 'Back to Account', currencies_path, class: 'btn btn-primary' %>

</div>