<h1>New Currency</h1>

<%= render 'form', currency: @currency, class: 'btn btn-primary' %>

<div class="container text-center">

<%= link_to 'Back to Account History', currencies_path, class: 'btn btn-primary mr-5' %>

<%= link_to 'Back to Home Page', home_home_path, class: 'btn btn-primary' %>

</div>
