<h2 align="center"> Mission</h2>

<p align="justify"> The mission of HybridWallet is to help the user to gain profit when it comes to buy CryptoCuurencies and Currencies.
HybridWallet aims at promoting the reduction of banking fees, the development of currencies in the third development world to fight poverties.</p>

<br/>
<div class= "container text-center">

    <div class="btn-group">
    <%= link_to 'Back to Main Page', root_path, :class => "btn btn-primary" %>
    </div>
    
</div>