<h2 align="center"> A world of dual currencies</h2>

<h3 align="left">Advantages & disadvantages of single currencies / monetary integration</h3><br/>

<p align="justify"> A single currency is when a number of countries join their currencies together into one single currency. The main example of this is the introduction of the Euro in the European Union. This was introduced in January 1999 with the full changeover to notes and coins taking place in January 2001. This meant that the Eurozone was made up of 12 countries with three EU members (UK, Denmark and Greece) not joining the single currency. The enlargement of the EU on May 1st 2004 further expanded the Eurozone.

So what arguments are there for joining a single currency? There are convincing arguments on both sides, and below are some of them. This is not a complete list, but offers some arguments to help you draw your own conclusions. The arguments are phrased in terms of joining the Euro, but could apply to any single currency area. </p><br/>


<h4  align="justify"><strong>Arguments for a single currency</strong></h4>

            <ol>
            <li>Elimination of the costs of converting currencies - converting between currencies has a cost for individuals and firms. A single currency will remove these costs.</li>
            <li>Increased price transparency - prices in different currencies can be difficult to compare. How often do you travel around with a calculator, to check the price of something in another country? If everything is in the same currency, price comparison is straightforward. This may help firms cut costs, as they will be able to find the cheapest product more easily.</li>
            <li>Increased competition and efficiency - a single currency should encourage greater competition as there is greater transparency in prices. This should help increase efficiency as firms are forced to remain competitive.</li>
            <li>Increased inward investment - the single market in Europe has in excess of 200 million consumers and after enlargement in 2004 has in excess of 300 million. The Euro is one of the most significant world currencies. Both these things add up to the possibility of increased inward investment from the rest of the world into Europe.</li>
            <li>Elimination of exchange rate uncertainty - one of the problems with trading with other countries is that you never know which way the exchange rate will move. It may move in your favour, but it could equally move against you and end up costing you a lot more. This sort of uncertainty can hinder trade - particularly for smaller firms. A single currency gets rid of all this uncertainty within the single currency zone, and should encourage trade (within the zone).</li>
            
            </ol><br/>
            
<h4  align="left"><strong>Arguments for a single currency</strong></h4>


            <ol>
            <li>"One size fits all policy" - a single currency requires a single monetary policy. This means interest rates being set centrally for all Euro countries. Say an individual country is suffering a downturn in economic activity, but the rest are booming. The European Central Bank may want to increase interest rates, but that would simply worsen the recession for that country. </li>
            <li>Differing policy effects - even when countries are closely in line, it may be possible that a single policy will have different effects on different countries. For example, a much larger proportion of people own their own house in the UK than many other European countries. This makes the UK much more reliant on mortgage lending. A change in interest rates then, may have a different effect on the UK from other countries.</li>
            <li>Increased competition and efficiency - a single currency should encourage greater competition as there is greater transparency in prices. This should help increase efficiency as firms are forced to remain competitive.</li>
            <li>Shocks - external economic shocks may have an adverse impact. An example could be a rapid rise in oil prices (as happened in the 1970s and 80s). This may affect different countries in different ways, depending on how reliant they are on oil. The UK produces its own North Sea Oil and so may be affected differently to Luxembourg, which does not!.</li>
            <li>Transition costs - moving into a single currency economic union involves short term transition costs (which would disappear once the new currency was fully established). For example, new money has to be issued and the old withdrawn, vending machines have to be adapted to take the new coins,and foreign exchange departments may shrink in size in some financial institutions.</li>
            
            </ol><br/>
            
<p align="left">Source : http://www.sanandres.esc.edu.ar/secondary/economics%20packs/international_economics/page_61.htm</p>



<br/>
<div class= "container text-center">

    <div class="btn-group">
    <%= link_to 'Back to Main Page', root_path, :class => "btn btn-primary" %>
    </div>
    
</div>