<h1>Editing Cryptotable</h1>

<%= render 'form', cryptotable: @cryptotable, class: 'btn btn-light' %>
<br/>

<div class="container text-center">

<%= link_to 'Back to Cryptocurrency', @cryptotable, class: 'btn btn-primary mr-5' %> 
<%= link_to 'Back Account', cryptotables_path, class: 'btn btn-primary mr-5' %>
<%= link_to 'Back to Home Page', home_home_path, class: 'btn btn-primary' %>
</div>