<h1>Editing Cryptotable</h1>

<%= render 'form', cryptotable: @cryptotable, class: 'btn btn-dark' %>
<br/>

<%= link_to 'Show', @cryptotable, class: 'btn btn-dark' %> |
<%= link_to 'Back Account', cryptotables_path, class: 'btn btn-dark' %>

<%= link_to 'Back to Home Page', home_home_path, class: 'btn btn-dark' %>
