<h1>New Cryptotable</h1>

<%= render 'form', cryptotable: @cryptotable %>

<br/>

<%= link_to 'Back to Account History', cryptotables_path, class: 'btn btn-dark' %>


<%= link_to 'Back to Home Page', home_home_path, class: 'btn btn-dark' %>
