<h1>New Cryptotable</h1>

<%= render 'form', cryptotable: @cryptotable %>

<br/>

<div class="container text-center">

<%= link_to 'Back to Account History', cryptotables_path, class: 'btn btn-dark mr-5' %>


<%= link_to 'Back to Home Page', home_home_path, class: 'btn btn-dark' %>

</div>